html,
body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Fira Sans', sans-serif;
    background-color: #ffffff;
    color: #222;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.main_area {
    display: flex;
    flex-direction: row;
    flex: 1;
    overflow: hidden;
}

.sidebar {
    width: 250px;
    background-color: #0a0a28;
    color: #ecf0f1;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: 100%;
    position: sticky;
    top: 0;
    transition: width 0.3s ease;
    overflow: hidden;
    cursor: default;
}

.sidebar a {
    padding: 15px 25px;
    text-decoration: none;
    font-size: 1.1rem;
    color: #bdc3c7;
    display: block;
    transition: 0.3s;
    font-family: 'Roboto Slab', serif;
}

.sidebar a:hover {
    color: #ff0007;
    background-color: #ffffff;
}

.sidebar i {
    margin-right: 10px;
    width: 20px;
    text-align: center;
}

.sidebar_header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 10px;
    margin-bottom: 20px;
    cursor: pointer;
}

.sidebar.collapsed {
    width: 0;
    padding: 0;
    overflow: visible;
}

.sidebar.collapsed .nav-links-container {
    display: none;
}

.sidebar.collapsed .sidebar_header {
    position: fixed;
    top: 0;
    left: 0;
    width: 120px;
    height: 120px;
    background-color: #0a0a28;
    border-bottom-right-radius: 15px;
    z-index: 1000;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar.collapsed .group_logo {
    width: 100px;
    transition: 0.3s;
}

.content_wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
}

.sidebar.collapsed+.content_wrapper {
    padding-left: 105px;
    transition: padding-top 0.3s ease;
}

h1,
h2,
h3 {
    font-family: 'Roboto Slab', serif;
    text-align: center;
    margin: 0.5em 0;
}

h1 {
    font-size: 2.2em;
    color: #222;
}

h2 {
    font-size: 1.8em;
    color: #222;
}

h3 {
    font-size: 1em;
    color: #222;
    font-weight: 500;
}

p {
    max-width: 800px;
    margin: 1em auto;
    font-size: 1.1em;
    text-align: justify;
    padding: 0 1em;
}

footer {
    flex-shrink: 0;
    width: 100%;
    z-index: 10;
    text-align: center;
    background-color: #f2f2f2;
    color: #333;
    font-size: 0.7em;
    border-top: 1px solid #ccc;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.group_logo {
    margin: 0;
    width: 120px;
    height: auto;
}

.bubble_container {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.home_button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #0a0a28;
    color: white;
    text-decoration: none;
    transition: transform 0.3s ease, background-color 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.home_button i {
    font-size: 52px;   
    margin-bottom: 8px;
}

.home_button span {
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
}

.home_button:hover {
    background-color: #ff0007;
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    color: #ffffff
}